// Variables

$color-grey: rgb(193, 192, 205);
$color-yellow: rgb(230, 213, 31);
$color-pink: rgb(232, 185, 212);
$color-light-green: rgb(185, 232, 183);
$color-green: rgb(64, 204, 114);
$color-red: rgb(203, 66, 70);
$color-brown: rgb(231, 170, 114);
$color-blue: rgb(78, 186, 231);
$color-light-grey: rgb(184, 231, 233);
$color-dark-grey: rgb(176, 177, 180);
$color-dark-green: rgb(150, 204, 66);

// Mixins

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Font Import

@import url('http://fonts.cdnfonts.com/css/phenomena');