// Cards

.periodic-table {
    &__card {
        @include flexCenter();
        flex-direction: column;
        font-size: 2.2em;
        font-weight: bold;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 11%;
        border-radius: 5px;
        position: relative;
    }

    &__number {
        font-size: 0.5em;
        position: absolute;
        left: 5%;
        bottom: 2%;
    }

    &__card--grey {
        background-color: $color-grey;
    }

    &__card--yellow {
        background-color: $color-yellow;
    }

    &__card--pink {
        background-color: $color-pink;
    }

    &__card--light-green {
        background-color: $color-light-green;
    }

    &__card--green {
        background-color: $color-green;
    }

    &__card--red {
        background-color: $color-red;
    }

    &__card--brown {
        background-color: $color-brown;
    }

    &__card--blue {
        background-color: $color-blue;
    }

    &__card--light-grey {
        background-color: $color-light-grey;
    }

    &__card--dark-grey {
        background-color: $color-dark-grey;
    }

    &__card--dark-green {
        background-color: $color-dark-green;
    }
}