@use "./base" as *;

body {
    @include flexCenter();
    flex-direction: column;
    font-family: 'Phenomena', sans-serif;
    background-color: $color-black;
    
    h1 {
        font-size: 3em;
        margin: 10px;
        color: white;
    }
}